.Card {
	border: 1px solid white;
	padding: 1rem;
	width: 300px;
	margin: 2rem auto;
}

.lableDiv {
	display: flex;
	justify-content: space-evenly;
}

.toggleDiv {
	display: flex;
	justify-content: space-evenly;
}

#fav-icon {
	color: white;
}
